@page
@model PetHotelManager.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<form method="post" asp-page="/Account/Logout" class="d-inline">
    <button type="submit" class="btn btn-link px-3 text-white">Đăng xuất</button>
</form>